[user]
	name = Dan Savilonis
	email = djs@n-cube.org
[color]
	ui = auto
[gui]
	fontdiff = -family \"Liberation Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = en_US
[advice]
	detachedHead = false
	statusHints = false
[core]
	excludesfile = ~/gitignore
	preloadindex = true
[diff]
	renames = copy
[gc]
	reflogexpire = 6.months
	reflogexpireunreachable = 2.months
[rerere]
	enabled = true
[help]
	autocorrect = 5
[alias]
	co = checkout
	ci = commit
	st = status
	graph = log --oneline --graph
	amend = commit --amend
	dc = diff --cached
	ri = rebase --interactive
	g = grep -n
	gi = grep -in
	gL = git grep --files-without-matches
	gl = grep --files-with-matches
	gv = grep --invert-match
	gw = grep --word-regexp
	mt = mergetool
	rs = reset --soft
	l = log --topo-order --pretty=format:'%C(bold)Commit:%C(reset) %C(green)%H%C(red)%d%n%C(bold)Author:%C(reset) %C(cyan)%an <%ae>%n%C(bold)Date:%C(reset)   %C(blue)%ai (%ar)%C(reset)%n%+B'
	lg = log --topo-order --all --graph --pretty=format:'%C(green)%h%C(reset) %s%C(red)%d%C(reset)%n'

